<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Dashboard</title>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body style="background-image: url('{{ url_for('static', filename='/images/background.png') }}');">
        <div class='container-fluid'>
            <div class='row mt-4'>
                <div class='col-4'>
                    <div class='row'>
                        <div class='col-12 dashboard__panel dashboard__panel--small'>
                            <div class='inventory_group'>
                                <div class='inventory_group__title'>
                                    Inventory
                                </div>
                                <div class='inventory_group___items'>
                                    {% for item in team_items %}
                                        {% if not item.is_magical %}
                                            {% set image_path = "/images/{}.png".format(item.image_slug)%}
                                            <div class='inventory_group__item'>
                                                <a href='/item/update/{{ item.id }}'>
                                                    <img src='{{ url_for('static', filename= image_path ) }}'/>
                                                </a>
                                            </div>
                                        {% endif %}

                                    {% endfor %}
                                </div>
                            </div>

                            <div class='inventory_group'>
                                <div class='inventory_group__title'>
                                    Magical Items
                                </div>

                                <div class='inventory_group___items'>
                                    {% for item in team_items %}
                                        {% if item.is_magical %}
                                            {% set image_path = "/images/{}.png".format(item.image_slug)%}
                                            <div class='inventory_group__item'>
                                                <a href='/item/update/{{ item.id }}'>
                                                    <img src='{{ url_for('static', filename= image_path ) }}'/>
                                                </a>
                                            </div>
                                        {% endif %}

                                    {% endfor %}
                                </div>
                            </div>

                            <div class='text-center'>
                                <a href='/item/add'>Add Item</a>
                            </div>
                        </div>
                        <div class='col-12 dashboard__panel dashboard__panel--small'>
                            <div class='row'>
                                <div class='col-6'>
                                    <h5>Team:</h5>
                                </div>
                                <div class='col-6 text-right'>
                                    <a class='btn btn-info btn-sm' href='/team/member/add'>Add Member</a>
                                </div>
                            </div>
                            
                            <hr>
                            {% for member in team %}
                                <a class='row team_member' href="/team/member/update/{{ member.id }}">
                                    <div class='col-12 team_member__inner'>
                                        <div class='row team_member__header'>
                                            <div class='col-6 team_member__name'>
                                                {{ member.name }}
                                            </div>
                                            <div class='col-6'>
                                                {{ member.type }}
                                            </div>
                                            <div class='col-6'>
                                                {{ 'Can' if member.can_teleport else 'Cannot'}} Teleport
                                            </div>
                                            <div class='col-6'>
                                                {{ member.power_points }} Power Point{{ 's' if member.power_points != 1 else '' }}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class='col-8'>
                    <div class="dashboard__panel dashboard__panel--large">
                        game window
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>