<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Update {{ member.name }}</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body style="background-image: url('{{ url_for('static', filename='/images/background.png') }}');">
        <div class='container-fluid'>
            <div class='row justify-content-center'>
                <div class='col-7 dashboard__panel '>
                    <h1>Update {{ member.name }}</h1>

                    <form class='row' action='/team/member/update' method='POST'>
                        
                        <input type="hidden" name="id" value="{{ member.id }}">

                        <div class='col-6'>
                            <label for='name'>Name:</label>
                            <input type='text' name='name' value='{{ member.name }}'>
                        </div>

                        <div class='col-6'>
                            <label for='type'>Type:</label>
                            <input type='text' name='type' value='{{ member.type }}'>
                        </div>

                        <div class='col-6'>
                            <label for='type'>Power Points:</label>
                            <input type='number' name='power_points' value="{{ member.power_points }}">
                        </div>

                        <div class='col-6'>
                            <label for='can_teleport'>Can Teleport:</label>
                            <input type='radio' name='can_teleport' value='1' {{ 'CHECKED' if member.can_teleport else '' }}>Yes
                            <input type='radio' name='can_teleport' value='0' {{'CHECKED' if member.can_teleport == False else '' }}>No
                        </div>

                        <div class='col-12 text-center'>
                            <input class='btn btn-success' type='submit' value='Save Updates'>
                            <a class='btn btn-info' href="/dashboard">Back to Dashboard</a>
                            <a class='btn btn-danger' href='/team/member/delete/{{ member.id }}'>Delete</a>
                        </div>
                    </form>

                    
                </div>
            </div>
    </body>
</html>